# Plan
* Maestro Fuentes
* Indices con fechas en rango
* Validar pronostico con fechas en rango??

In [22]:
import pandas as pd

In [23]:
datos_rss = pd.read_csv (r'TranformacionBases_Java/Rss_adap_multi.csv', engine='python', encoding = "ISO-8859-1", sep=';')
datos_twitter = pd.read_csv (r'TranformacionBases_Java/Twitter_adap_multi.csv', engine='python', encoding = "ISO-8859-1", sep=';')

In [24]:
datos_rss

,fuenteRss,idP,date,polaridad,Ceros,date_adj
0,http://www.nytimes.com/services/xml/rss/nyt/Wo...,https://www.nytimes.com/2020/10/09/world/canad...,9/10/2020 20:08,0.0000,1,2020-10-09
1,http://www.nytimes.com/services/xml/rss/nyt/Wo...,https://www.nytimes.com/2020/10/09/world/event...,9/10/2020 17:09,0.0000,1,2020-10-09
2,http://www.nytimes.com/services/xml/rss/nyt/Wo...,https://www.nytimes.com/2020/10/08/briefing/sw...,9/10/2020 05:36,0.0000,1,2020-10-09
3,http://www.nytimes.com/services/xml/rss/nyt/Wo...,https://www.nytimes.com/2020/10/31/world/asia/...,1/11/2020 01:49,0.0000,1,2020-11-01
4,http://www.nytimes.com/services/xml/rss/nyt/Wo...,https://www.nytimes.com/2020/10/30/us/coronavi...,30/10/2020 21:20,0.0000,1,2020-10-30
...,...,...,...,...,...,...
116524,https://www.nydailynews.com/cmlink/NYDN.News.rss,https://www.nydailynews.com/news/national/ny-a...,30/4/2021 03:21,-0.5574,0,2021-04-30
116525,https://www.nydailynews.com/cmlink/NYDN.News.rss,https://www.nydailynews.com/news/national/ny-w...,29/4/2021 15:53,-0.5574,0,2021-04-29
116526,https://www.nydailynews.com/cmlink/NYDN.News.rss,https://www.nydailynews.com/news/politics/ny-f...,29/4/2021 14:54,-0.5574,0,2021-04-29
116527,https://www.nydailynews.com/cmlink/NYDN.News.rss,https://www.nydailynews.com/news/politics/new-...,11/5/2021 20:27,-0.5574,0,2021-05-11
116528,https://www.nydailynews.com/cmlink/NYDN.News.rss,https://www.nydailynews.com/news/national/ny-c...,17/5/2021 21:55,-0.5574,0,2021-05-17

In [25]:
datos_rss_fin=datos_rss[datos_rss['polaridad']!=0][['fuenteRss','date_adj','polaridad']]

In [26]:
datos_rss_fin=datos_rss_fin.groupby(['fuenteRss','date_adj']).mean().reset_index()
datos_rss_fin.columns=['fuente','date','polaridad']
datos_rss_fin['tipo']='rss'

In [29]:
datos_rss_fin

                                        fuente        date  polaridad tipo
0               http://elnacional.com.do/feed/  2020-10-10  -0.583227  rss
1               http://elnacional.com.do/feed/  2020-10-26  -0.561107  rss
2               http://elnacional.com.do/feed/  2020-10-27  -0.778741  rss
3               http://elnacional.com.do/feed/  2020-10-28  -0.725599  rss
4               http://elnacional.com.do/feed/  2020-10-29  -0.743204  rss
...                                        ...         ...        ...  ...
12621  https://www.reforma.com/rss/portada.xml  2021-05-12  -0.840080  rss
12622  https://www.reforma.com/rss/portada.xml  2021-05-14  -0.494859  rss
12623  https://www.reforma.com/rss/portada.xml  2021-05-15  -0.893359  rss
12624  https://www.reforma.com/rss/portada.xml  2021-05-16  -0.469281  rss
12625  https://www.reforma.com/rss/portada.xml  2021-05-17  -0.873882  rss

[12626 rows x 4 columns]

In [30]:
datos_twitter

,id,created_at,lang,id_fuente,polaridad,ceros,date,Unnamed: 7,Unnamed: 8
0,1314979717343250000,10/10/2020 17:22,esp,elespectador,-0.285212,0,2020-10-10,NaN,NaN
1,1314688950330680000,9/10/2020 22:07,esp,elespectador,-0.285212,0,2020-10-09,NaN,NaN
2,1321150361344840000,27/10/2020 18:02,esp,elespectador,-0.285212,0,2020-10-27,NaN,NaN
3,1321540918999200000,28/10/2020 19:54,esp,elespectador,-0.285212,0,2020-10-28,NaN,NaN
4,1325468437276190000,8/11/2020 16:01,esp,elespectador,-0.285212,0,2020-11-08,NaN,NaN
...,...,...,...,...,...,...,...,...,...
527002,1396134759257060000,22/5/2021 16:04,eng,NASA,0.000000,1,2021-05-22,NaN,NaN
527003,1399051729782600000,30/5/2021 17:15,eng,NASA,0.000000,1,2021-05-30,NaN,NaN
527004,1399017475396850000,30/5/2021 14:58,eng,NASA,0.000000,1,2021-05-30,NaN,NaN
527005,1398769875619830000,29/5/2021 22:35,eng,NASA,0.000000,1,2021-05-29,NaN,NaN
527006,1398732888808560000,29/5/2021 20:08,eng,NASA,0.000000,1,2021-05-29,NaN,NaN

In [35]:
datos_twitter_fin=datos_twitter[datos_twitter['polaridad']!=0][['id_fuente','date','polaridad']]

In [36]:
datos_twitter_fin=datos_twitter_fin.groupby(['id_fuente','date']).mean().reset_index()
datos_twitter_fin.columns=['fuente','date','polaridad']
datos_twitter_fin['tipo']='twitter'

In [37]:
datos_twitter_fin

          fuente        date  polaridad     tipo
0     BluRadioCo  2020-10-09  -0.347026  twitter
1     BluRadioCo  2020-10-10  -0.271511  twitter
2     BluRadioCo  2020-10-11  -0.635847  twitter
3     BluRadioCo  2020-10-25  -0.249044  twitter
4     BluRadioCo  2020-10-26  -0.410109  twitter
...          ...         ...        ...      ...
4120    rcnradio  2021-05-26  -0.692930  twitter
4121    rcnradio  2021-05-27  -0.619450  twitter
4122    rcnradio  2021-05-28  -0.528466  twitter
4123    rcnradio  2021-05-29  -0.505510  twitter
4124    rcnradio  2021-05-30  -0.533350  twitter

[4125 rows x 4 columns]

In [38]:
datos_base=datos_rss_fin.append(datos_twitter_fin)

<ipython-input-38-8aec6383f5b7>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  datos_base=datos_rss_fin.append(datos_twitter_fin)

In [39]:
datos_base

                              fuente        date  polaridad     tipo
0     http://elnacional.com.do/feed/  2020-10-10  -0.583227      rss
1     http://elnacional.com.do/feed/  2020-10-26  -0.561107      rss
2     http://elnacional.com.do/feed/  2020-10-27  -0.778741      rss
3     http://elnacional.com.do/feed/  2020-10-28  -0.725599      rss
4     http://elnacional.com.do/feed/  2020-10-29  -0.743204      rss
...                              ...         ...        ...      ...
4120                        rcnradio  2021-05-26  -0.692930  twitter
4121                        rcnradio  2021-05-27  -0.619450  twitter
4122                        rcnradio  2021-05-28  -0.528466  twitter
4123                        rcnradio  2021-05-29  -0.505510  twitter
4124                        rcnradio  2021-05-30  -0.533350  twitter

[16751 rows x 4 columns]

In [44]:
maestro_fuentes= datos_base[['fuente','tipo']].drop_duplicates()

In [45]:
maestro_fuentes.reset_index(drop=True, inplace=True)

In [46]:
maestro_fuentes

                                                fuente     tipo
0                       http://elnacional.com.do/feed/      rss
1       http://ep00.epimg.net/rss/economia/portada.xml      rss
2    http://ep00.epimg.net/rss/tags/ultimas_noticia...      rss
3            http://feeds.nytimes.com/nyt/rss/Business      rss
4          http://feeds.nytimes.com/nyt/rss/Technology      rss
..                                                 ...      ...
132                                       elcolombiano  twitter
133                                       elespectador  twitter
134                                               lafm  twitter
135                                           rcnmundo  twitter
136                                           rcnradio  twitter

[137 rows x 2 columns]

In [48]:
maestro_fuentes.to_csv('TranformacionBases_Java/maestro_fuentes.csv', index=False, sep=';')